<!doctype html>
<html ng-app="ExtensionApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A basic chrome extension providing a currency converter">
    <meta name="author" content="Trevor Anderson">
    <title>Currency Conversion</title>
    <script type="text/javascript" src="js/angular-1.5.6-min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <link href="css/foundation-flex-6.3.0.css" rel="stylesheet" media="screen">
    <link href="css/main.css" rel="stylesheet" media="screen">
  </head>
  
  <body ng-controller="PopupController as Converter" ng-init="Converter.init()">
    <div class="row">
      <div class="column text-center">
        <h1>Currency Converter</h1>
        <small style="color:White;"> You'll need to know the currency codes you're converting. Here's a <a href="https://en.wikipedia.org/wiki/ISO_4217#Active_codes" target="_blank" style="color:Orange;">list of currency codes</a> for your reference.</small>
      </div>
    </div>
    
    <hr/>

    <!-- Selectors -->
    <div class="row">
      <div class="column small-5">
        <select
          ng-model="Converter.selector.from"
          ng-change="Converter.onBaseChange()"
          ng-options="currency as currency for currency in Converter.currencies.from">
        </select>
      </div>

      <div class="column small-2 text-center">
        <!-- Reverse Button with two-directional arrow -->
        <a href="" ng-click="Converter.reverseCurrencies()">↔</a>
      </div>
      <div class="column small-5">
        <select
          ng-model="Converter.selector.to"
          ng-change="Converter.onDestChange()"
          ng-options="currency as currency for currency in Converter.currencies.to">
        </select>
      </div>
    </div>

    <hr />

    <!-- Conversion -->
    <div class="row">
      <div class="column">
        <div class="input-group">
          <kbd class="input-group-label">{{ Converter.selector.from }}</kbd>
          <input class="input-group-field" type="number" ng-model="Converter.toConvert" ng-change="Converter.convert()">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="input-group result">
          <kbd class="input-group-label">{{ Converter.selector.to }}</kbd>
          <input class="input-group-field" type="text" disabled="disabled" ng-model="Converter.result">
        </div>
      </div>
    </div>
    
    <hr/>

    <!-- Details -->
    <div class="row" ng-show="Converter.readyToConvert">
      <div class="column">
        <small style="color:White;">Rate: {{ 1 | currency : Converter.selector.from : 2 }} = {{ Converter.rate.value | currency : Converter.selector.to : 2 }}</small>
        <small style="color:White;">Last update: {{ Converter.rate.lastUpdate | date : 'medium' }}</small>
        <div><span class="refresh-button" ng-click="Converter.resetCache()">Refresh</span></div>
      </div>
    </div>
  </body>
</html>
